* {
	transform-style: preserve-3d;
}

html, body {
	margin: 0;
	padding: 0;
}

body {
	background-color: black;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	perspective: 100px;
	perspective-origin: 50% 100%;
}

.clouds {
	position: absolute;
	transition: transform 1s linear;
	/*overflow-y: hidden;*/
}

.cloud {
	position: absolute;
	top: 0;
}